<div class="forms" *ngIf="tandbsNotToggled">
  <!-- <div class="heading">
    <h4>select form</h4>
  </div> -->
  <div class="tandbs-btn" (click)="toggleTandbs('topic')">add topic</div>
  <div class="tandbs-btn" (click)="toggleTandbs('drug')">add drug</div>
  <div class="tandbs-btn" (click)="toggleTandbs('question')">add topic</div>
</div>

<div class="add-topic" *ngIf="view == 'topic'">
  <tandbs-add-topic></tandbs-add-topic>
  <button (click)="resetToggle()">back</button>
</div>
<div class="add-drug" *ngIf="view == 'drug'">
  <app-tandbs-add-drug></app-tandbs-add-drug>
  <button (click)="resetToggle()">back</button>
</div>
<div *ngIf="view == 'question'">
  <button (click)="resetToggle()">back</button>
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <label for="topic">topic</label>
    <br />
    <input
      id="topic"
      list="topics"
      ngModel
      name="topic"
      autocomplete="off"
      placeholder="select topic"
    />
    <datalist id="topics">
      <option *ngFor="let topic of data.topics">{{ topic.name }}</option>
    </datalist>

    <br />
    <label for="format">format</label>
    <br />
    <input
      id="format"
      list="formats"
      [(ngModel)]="formatt"
      name="format"
      autocomplete="off"
      placeholder="select format"
    />
    <datalist id="formats">
      <option *ngFor="let format of data.formats">{{ format.format }}</option>
    </datalist>

    <br />
    <input
      *ngIf="formatt == 'mcq' || formatt == 'mmq'"
      id="choices"
      type="number"
      ngModel
      name="choices"
      autocomplete="off"
      placeholder="enter number of choices"
    />
    <br />
    <input type="submit" value="SUBMIT" />
  </form>

  <app-add-mcq
    *ngIf="'mcq' == format"
    [format]="format"
    [topic]="topic"
    [choices]="choices"
  ></app-add-mcq>
  <app-add-mmq
    *ngIf="'mmq' == format"
    [format]="format"
    [topic]="topic"
    [choices]="choices"
  ></app-add-mmq>
  <app-add-tf
    *ngIf="'tf' == format"
    [format]="format"
    [topic]="topic"
  ></app-add-tf>
  <app-add-dq
    *ngIf="'dq' == format"
    [format]="format"
    [topic]="topic"
  ></app-add-dq>
</div>
