<div class="migrate">
  <div class="medicine tandbs-btn" (click)="migrateMedicines()">
    migrate medicines
  </div>
  <div class="dispensed tandbs-btn" (click)="migrateDispensed()">
    migrate dispensed
  </div>
  <!-- <div class="medicine tandbs-btn">
    <form (ngSubmit)="migrateMedicines()">
      <input type="submit" value="migrate medicines" />
    </form>
  </div>
  <div class="dispensed tandbs-btn">
    <form (ngSubmit)="migrateDispensed()">
      <input type="submit" value="migrate dispensed" />
    </form>
  </div> -->
</div>
