<div>
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <label for="topic">topic</label>
    <br />
    <input
      (click)="toggleMessage()"
      id="topic"
      list="topics"
      [ngModel]="topic"
      name="topic"
      autocomplete="off"
      placeholder="select topic"
    />
    <!-- <datalist id="topics">
      <option *ngFor="let topic of data.topics">{{ topic.name }}</option>
    </datalist> -->

    <br />
    <label for="format">format</label>
    <br />
    <input
      (click)="toggleMessage()"
      id="format"
      list="formats"
      [ngModel]="format"
      name="format"
      autocomplete="off"
      placeholder="select format"
    />
    <!-- <datalist id="formats">
      <option *ngFor="let format of data.formats">{{ format.format }}</option>
    </datalist> -->

    <br />
    <label for="question">question</label>
    <br />
    <textarea
      id="question"
      type="text"
      ngModel
      name="question"
      autocomplete="off"
    ></textarea>
    <br />
    <textarea
      *ngFor="let choice of choices"
      id="{{ choice }}"
      type="text"
      ngModel
      name="{{ choice }}"
      autocomplete="off"
      placeholder="enter a choice"
    ></textarea>
    <br />
    <input type="submit" value="SUBMIT" />
  </form>
  <h3 *ngIf="message">topic added successfully</h3>
</div>
