.migrate {
  height: 80vh;
  background-color: white;
  padding: 1vh;
}
.nav,
.view {
  border: 1px solid black;
}
.nav {
  height: 10%;
  margin-bottom: 2px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}
h2 {
  flex: 1 1 30%;
  height: 80%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background-color: rgb(204, 202, 202);
  margin-left: 2px;
  margin-right: 2px;
  border: 1px solid black;
  border-radius: 2px;
}
h2:hover {
  background-color: rgb(138, 247, 138);
  cursor: pointer;
}
.view {
  height: 90%;
}
table {
  width: 85%;
  background-color: rgb(196, 190, 190);
  color: black;
  margin-left: auto;
  margin-right: auto;
}
th,
td {
  border: 1px solid white;
  color: rgb(48, 25, 25);
}
