form {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5em;
  margin-bottom: 1em;
  background-color: blueviolet;
  width: 60%;
  text-align: center;
}
input {
  width: 50%;
  height: 1.8em;
}
h3 {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  text-align: center;
  background-color: white;
  color: rgb(2, 177, 2);
  height: 3vh;
}
.forms {
  display: flex;
  flex-flow: row wrap;
  background-color: white;
  min-height: 80vh;
  justify-content: space-evenly;
  align-items: stretch;
}
.heading {
  flex: 0 0 100%;
  height: 10vh;
  margin: 5px;
  border: 1px solid gold;
}
.tandbs-btn {
  flex: 1 0 30%;
  max-width: 30%;
  min-height: 15vh;
  background-color: grey;
  margin: 5px;
  border: 1px solid gold;
  align-content: flex-start;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tandbs-btn:hover {
  background-color: black;
  color: white;
}
